<div class="main">
  <div class="title">
    <label>Menu Avançado</label>
    <input title="Avançado" type="checkbox" class="check" [value]="avancado" (change)="setAvancado()">
    <br />
    Preço Atual:{{valorMercado}}
    Valor Mercado:{{valorMercado | currency:"BRL"}}
    <br />
    Boleta: {{boleta}}
    <br />
    <div *ngIf="avancado">
      valor compra: {{valorCompra | currency:"BRL"}}
      <br />
      contratos: {{qtdeContrato}}
      <br />
      valor compra: {{valorCompra}}
    </div>
  </div>
  <div class="contratos">
    <button (click)="removeContratos()">-</button>
    <input #qtdeContratos [value]="qtdeContrato" class="campos">
    <button (click)="addContratos()">+</button>
  </div>
  <div>
    <Button class="botoes" (click)="comprar(qtdeContratos)">Comprar</Button>
    <Button class="botoes" (click)="fechar()" [disabled]='!valorMercado'>Fechar</Button>
    <Button class="botoes" (click)="vender(qtdeContratos)" [disabled]='!valorMercado'>Vender</Button>
  </div>
  <div>
    Lucro/Prejuizo: {{lucroPrejuizo | currency:"BRL"}}
    <br />
    Total de Contratos: {{totalContratos}}
  </div>
  <div style="position: absolute;left: 15;margin-top: 30px;">
    Compras:
    <table>
      <tr>
        <td *ngFor="let item of listTable">{{item}}</td>
      </tr>
      <tr *ngFor="let contrato of listaCompras">
        <td>{{contrato.id}}</td>
        <td>{{contrato.qtdeContratos}}</td>
        <td>{{contrato.dataCompra}}</td>
        <td>
          <span *ngIf="contrato.valorCompra">
            {{contrato.valorCompra}}
          </span>
          <span *ngIf="contrato.valorVenda">
            {{contrato.valorVenda}}
          </span>
        </td>
        <td>{{contrato.dataVenda}}</td>
        <td>{{contrato.valorCompra}}</td>
        <td>{{contrato.valorVenda}}</td>
      </tr>
    </table>
  </div>
  <br />
<div #areaChart></div>
</div>